#rheic-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #111;
}
canvas#rheic-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  display: block;
}
.overlay-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vmin;
  opacity: 0.06;
  pointer-events: none;
  z-index: -1;
}

.button {
  background-color: rgba(255, 255, 255, 0.9); /* blanc semi-opaque */
  color: #111;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 1);
}
